body {
    font-family: 'Inter', sans-serif;
    background-color: #f7f9fc;
}
/* Custom scrollbar for chat */
#chat-messages::-webkit-scrollbar {
    width: 6px;
}
#chat-messages::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
#chat-messages::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 10px;
}
#chat-messages::-webkit-scrollbar-thumb:hover {
    background: #a5aab1;
}
.page {
    display: none; /* Hide all pages by default */
}
.page.active {
    display: block; /* Show active page */
}